<div class="bg-primary text-white m-2 p-2">
There are {{ model.getProducts().length }} products in the repository

</div>

<div [class]="getClasses(1)"> <!--class binding-->
    katalogtaki ilk ürün {{ model.getProductById(1).name }}
</div>
<div [class]="getClasses(5)"> 
    katalogtaki ikinci ürün {{ model.getProductById(5).name }}
</div>

<button class="btn btn-primary" [class.disabled]="disabled"> Submit </button>

<div class="m-2 p-2" [ngClass]="getClassMap(1)">
    katalogtaki <span [style.color]="color">ilk ürün</span> {{model.getProductById(1).name }}
</div>
<!--fontSize style Binding örneği-->
<div class="m-2 p-2" [ngClass]="getClassMap(5)">
    katalogtaki <span [style.fontSize]="fontSize">ikinci ürün</span> {{model.getProductById(5).name }}
</div>
<!--koşullu style örneği-->
<div class="m-2 p-2" [ngClass]="getClassMap(4)">
    katalogtaki <span [style.color]="color2">ücüncü ürün</span> {{model.getProductById(4).name }}
</div>
<!--birden fazla style için product.component.ts içine-->
<div class="m-2 p-2" [ngClass]="getClassMap(2)">
    katalogtaki <span [ngStyle]="getStyles(2)">ücüncü ürün</span> {{model.getProductById(4).name }}
</div>

<!--event binding örneği. domdan ts ye doğru giden binding
olayları aktarmak için $event
-->
<button class="btn btn-primary" (click)="onSubmit($event)">Tıkla</button>
<br>
<input type="text" (keyup)="onKeyUp($event)"/>
<br>
<input type="text" [value]="email" (keyup)="onKeyUp2()"/>
<br>
<!--two way binding örneği. ngModel çift taraflı veri aktarımını sağlıyor.-->
<input type="text" [(ngModel)]="email" (keyup)="onKeyUp2()"/>

<!--pipe örneği-->
<p>{{ title | uppercase }}</p>
<br>
<!--custom pipe örneği summary.pipe.ts oluşturduk ve çağırdık. module.ts ye eklemeyi unutma-->
<p>{{ text | summary }}</p>
<br>

<div *ngIf="model.getProducts().lenght>0; then productList else noProduct"></div>
<ng-template #productList>
   There are {{ model.getProducts().lengt }} products in the repository
</ng-template>
<ng-template #noProducts>
    There are no products in the repository. 
 </ng-template>

 <!-- aşağıdaki şekilde noproduct ü tekrar kullanabiliriz-->
 <ng-template [ngTemplateOutlet]="noProduct"></ng-template>

<br>
<!--custom directive örneği-->
<input type="text" appInputEmail>

<br>

<div class="bg-info text-white m-2 p-2">
    {{ jsonProduct }}
</div>

<form>
<div class="form-group">
    <label>Name</label>
    <input required [(ngModel)]="newProduct.name" name="pName" #name="ngModel"  class="form-control"><!--(change)="log(name)"-->
    <div class="alert alert-danger" *ngIf="!name.valid && name.touched">
        Name is required
    </div>
</div>
<div class="form-group">
    <label>Description</label>
    <textarea class="form-control"></textarea>
</div>
<div class="form-group">
    <label>Price</label>
    <input class="form-control">
</div>
<div class="form-group">
    <label>ImageUrl</label>
    <input class="form-control">
</div>
<button type="submit" class="btn btn-primary">Submit</button>


</form>
<input type="text"
(keyup.enter)="createPost(input)"
#input
 class="form-control mb-2">
<ul class="list-group">
    <li *ngFor="let post of posts" class="list-group-item">
        {{post.title}}
    </li>
</ul>
<br>
<button type="submit" class="btn btn-primary" (click)="test()">Agro</button>
 <!--
<admin-products></admin-products>

<div>
<h2> {{ product.name }} </h2>  one way binding
<h2 [textContent]="product2.name"> </h2> propery binding örneği
<img [src]="'assets/img/'+product.imageUrl"> 
</div>
-->