<h3 *ngIf="products; else noproduct">{{title}}</h3>

<div class="form-group">
  <input 
    class="form-control" 
    id="productName"  
    placeholder="Ara" 
    [(ngModel)]="filterText" /><!-- two way binding -->

  <small *ngIf="filterText" class="form-text text-muted">
    <strong>{{filterText}}</strong> aradınız.
  </small>
</div>

<ng-template #noproduct>
    
    <div class="alert alert-danger" role="alert">
        Ürün bulunamadı
      </div>
</ng-template>
<div class="row">
    <div *ngFor="let prod of products | productFilter:filterText" class="card" style="width: 18rem;">
        <img class="card-img-top" [src]="prod.imageUrl" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">{{prod.name}}  {{prod.price}}</h5>
          <p class="card-text">{{prod.description}}</p>
          <a (click)="addToCart(prod)" class="btn btn-primary">{{name}}</a>
        </div>
      </div>
      
</div>